/*BANNER VIDEO*/

video {
    margin: 0;
    padding: 0;  
}

.video-wrapper > video {
    object-fit: cover;
    width: 100%;
    height: 100%;
 }

.video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}


 /* HOTELS LAYOUT */
.hotels {
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

.hotel-layout {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hotels p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgb(214, 223, 226);
}

/* HOTEL BACKGROUND IMAGE */
.hotel-layout a {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.81);
    color: #000000;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 16px;
    padding: 1rem 2rem;
    margin-top: 3rem;
    text-align: center;  
}

 .hotels a:hover  {
    text-decoration: underline;
    transform: scale(1.1);
	transition: all .6s ease;
 }
 
.img-container,
.img-container2 {
    position: relative;
    width: 100%;
}

.img-container:hover,
.img-container2:hover,
.hotels a {
    opacity: 1;
}

img {
    width: 100%;
    height: auto; 
    max-height: 100%;
    object-fit: cover; 
    object-position: center;
}

/* HOTELS MEDIA QUERY*/

@media (min-width: 50em) {

    .hotels p {
        margin: 0;
        padding: 2rem 4rem;
        align-content: center;
        font-size: 18px;
    }

    .hotels img {

        height: 100%;
        
        object-fit: cover;
        object-position: center;
    }

    .hotels h2 {
        font-size: 30px;
    }

    .hotels h3 {
        font-size: 25px;
    }

    .hotel-layout {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 2rem;
        margin: 1rem;
    }

    .img-container {
        grid-column: 1/5;
        grid-row: 1/5;
    }

    .ibis {
        grid-column: 5/9;
        grid-row: 1/5;         
    }

    .img-container2 {
        grid-column: 1/5;
        grid-row: 6/10;
        
    }

    .caledonian {
        grid-column: 5/9;
        grid-row: 6/10;
    }    
        
}
/* END OF MEDIA QUERY*/




 /* AIRBNB and BOOKING ICONS*/
.airbnb-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: .5rem;
}

.airbnb,
.booking {
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

 .airbnb:hover,
 .booking:hover {
    transform: scale(1.1);
	transition: all .5s ease;
 } 




 /*  TRANSIT BACKGROUND */

.transit {
    background-image: url(../images/roads.jpg);
    background-size: cover;
    background-position: center;
}

/* TRANSIT TABLE */
table,
th,
td {
    padding: 1rem;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
   border-collapse: collapse;
 }

th {
    background-color: rgb(214, 223, 226);
}

td {
    background-color: white;
}

caption {
    caption-side: bottom;
 }

 caption {
    caption-side: bottom;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(214, 223, 226);
    border-radius: 10px;
    color: white;
    text-align: center;
 }

 caption:hover {
    transform: scale(1.1);
	transition: all .5s ease;
}



/* SUBMIT FORM */

.submit-form {
    display: flex;
    justify-content: center;
}

form {
    background-color: rgb(214, 223, 226);
    display: flex;
    flex-direction: column; 
    padding: 1rem; 
    margin-bottom: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.555); 
    width: 100%; 
    max-width: 30rem;
    border-radius: 20px;
}
label {
    text-align: center;
}

input {
    margin-bottom: 1rem;
    border-radius: 10px;
}

textarea {
    margin-bottom: 1rem;
    border-radius: 10px;
}

/* SUBMIT FORM BUTTON */

.submitbtn-wrapper {
    display: flex;
    justify-content: center;
}

.submitbtn {
    max-width: 5rem;
}

.submitbtn:hover,
.submitbtn:focus,
.submitbtn:active {
    color: white;
    background-color: rgb(42, 83, 118);
}

/* FOOTER BACKGROUND COLOR */

footer {
    background-color: rgb(214, 223, 226);
}
